<div class="container">
    <h2 class="text-center">
        Welcome admin !
    </h2>
    <h3 class="text-center mt-3" style="color: burlywood; background-color: grey; padding: 20px;">
        Change password
    </h3>
    <div class="container">
        <div class="center">
            <form [formGroup]="loginform">
                <table class="table2"  style="width: 100%; margin: 0,auto;">
                    
                    <tr>
                        <th><label for="name">Name:</label></th>
                        <th><input type="text" name="name" formControlName="name" placeholder="Enter name here"></th>
                    </tr>
                    
                    <tr>
                        <th><label for="oldpassword">OldPassword:</label></th>
                        <th><input type="password" name="oldpassword" formControlName="oldpassword" placeholder="Enter Old Password"></th>
                    </tr>
                    <tr>
                        <th><label for="newpassword">NewPassword:</label></th>
                        <th><input type="text" name="newpassword" formControlName="newpassword" placeholder="Enter New Password"></th>
                    </tr>
                    <tr>
                        <th><input class="btn btn-success" type="submit" (click)="changepassword()" value="Submit"></th>
                        <th><input class="btn btn-primary" type="reset" value="Reset"></th>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <ul class="list-group-infos mt-3">
        
        <li class="list-group-item mt-3" ><a class="navbar-brand" routerLink="/adminfood">Food product related operations</a></li>
        <li class="list-group-item mt-3" >
            <a class="navbar-brand black" routerLink="/welcomeadmin">Go back</a>
        </li>
    </ul>
   
    
</div>
 