<div class="container text-center">
	<h3 class="text-center mt-3" style="color: burlywood; background-color: grey; padding: 20px;">
Search product
</h3>
		<nav>
		<h3>Search the name of product</h3><br>
		<input type="text" name="name" [(ngModel)]="name" (ngModelChange)="nameproduct()" placeholder="Enter name here:" style="margin: 20px;"><br>
	</nav>
		
		
	</div>
	<h3>Available products are:</h3>
	<table id="cus" class="text-center">
		<tr class="row">
			<th class="col-sm-2">Id</th>
			<th class="col-sm-3">Name</th>
			<th class="col-sm-3">Total Available Quantities</th>
			<th class="col-sm-2">Price</th>
			
			<th class="col-sm-2">Order</th>
		<tr class="row" *ngFor="let temp of productobj">
			<td class="col-sm-2">{{temp.id}}</td>
			<td class="col-sm-3">{{temp.name}}</td>
			<td class="col-sm-3">{{temp.quantity}}</td>
			<td class="col-sm-2">{{temp.price}}</td>
			
			<td class="col-sm-2"><a routerLink="/ordernow" (click)="ordernow(temp)" class="btn btn-success">Order now </a></td>
		</tr>
	   </table>
	
